
<div *ngFor="let tweet of tweets" style = "color: orangered">
    {{ tweet.userName }}  says <u> {{ tweet.text }} </u>  from  {{ tweet.location }} on {{ tweet.time }}
</div>

<mat-paginator
#paginator
[length]="length"
[(pageSize)]="pageSize"
[pageSizeOptions]="[10, 50, 100, 500]"
(page) = "getTweets()">
</mat-paginator>


<form class="example-form">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="srchTerm" name="srchTerm" (keyup.enter) ="getTweets()" style="background-color: white" placeholder="try &quot;narwals&quot;">
    </mat-form-field>
</form>
